
.name{
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: #ffffff;
    mix-blend-mode: normal;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.3);
    font-style: normal;
}
.body_form{
    display: flex;
    width: 600px;
    position: relative;
   
}
.left_form{
    width: 50%;
}
.right_form{
    width: 50%;
}
.upload_img .ant-upload-list {
    display: flex;
    justify-content: center;
}
.btn_add{
    display: flex;
    justify-content: center;
}
.erorr{
    color: red;
}
.react-datepicker__input-container input{
    border-radius: 5px
}
.add_btn{
    background-color: #ffffff;
    border-radius: 5px;
}
.btn_add{
}

@tailwind base;
@tailwind components;
@tailwind utilities;